body {

font-family: sans-serif;  
display: flex;   
justify-content: center;   
align-items: center;  
min-height: 100vh;    
margin: 0;  
background-image: url('fondoPantalla.jpg');   
}

form {   
background: #fff;   
padding: 20px;  
border-radius: 5px; 
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
width: 600px;
}
        
label {  
display: block;   
margin-bottom: 2px;
}
    
input[type="text"], 
input[type="password"] {   
width: calc(100% - 12px);   
padding: 6px;    
margin-bottom: 5px;    
border: 1px solid #ccc;    
border-radius: 3px;   
} 

input[type="submit"] {   
background: #007bff;    
color: white;    
padding: 8px 12px;   
border: none;    
border-radius: 3px;   
cursor: pointer;   
}
   
input[type="submit"]:hover {   
background: #0056b3;
}