.casilla-blanca{
    border: 2px solid black;
    background-color: white;
}

.casilla-negra{
    background-color: black;
}
 td {
            width: 50px;
            height: 50px;
        }

table {
  border: 20px solid #A68A2E;
  border-collapse: collapse;

}